# Experiment No. 03

**PYTHON IMPLEMENTATION:**

MLEXTEND -MLxtend(Machine Learning Extensions) is a python library of useful tools for the day-to-day data science tasks.

from mlxtend.frequent_patterns import apriori

Apriori function to extract frequent itemsets for association rule mining.

-Support threshold can be mentioned to retrive frequent itemset. -from mlxtend.frequent_patterns import association_rules

-Function to generate association rules from frequent itemsets. -Dataframe.metrics and minimum threshold needed to be mentioned. -Metric values are :support,confidence ,lift.

In [2]:
dataset = [
    ['cake', 'pizza', 'popsicle', 'orange juice', 'Cola', 'marshmallow', 'pie'],
    ['cake', 'Ice cream', 'peanut butter', 'orange juice', 'Cola', 'Ice cream'],
    ['cake', 'pie', 'nuts', 'orange juice', 'marshmallow', 'pie', 'pizza'],
    ['espresso', 'pizza', 'popsicle', 'orange juice', 'Cola', 'marshmallow'],
    ['cake', 'peanut butter', 'orange juice', 'Cola', 'pie'],
    ['espresso','pizza', 'popsicle', 'orange juice', 'Cola', 'marshmallow', 'pizza'],
    ['cake', 'peanut butter', 'Ice cream', 'orange juice', 'Cola', 'pie'],
    ['cake', 'pie', 'nuts', 'orange juice', 'marshmallow', 'pizza'],
    ['espresso', 'pizza', 'popsicle', 'orange juice', 'Cola', 'marshmallow', 'pie'],
    ['cake', 'peanut butter', 'orange juice', 'Cola', 'pie'],
    ['nuts', 'pizza', 'pizza', 'orange juice', 'Ice cream', 'Cola', 'pie']
]

In [ ]:
dataset

[['cake', 'pizza', 'popsicle', 'orange juice', 'Cola', 'marshmallow', 'pie'],
 ['cake', 'Ice cream', 'peanut butter', 'orange juice', 'Cola', 'Ice cream'],
 ['cake', 'pie', 'nuts', 'orange juice', 'marshmallow', 'pie', 'pizza'],
 ['espresso', 'pizza', 'popsicle', 'orange juice', 'Cola', 'marshmallow'],
 ['cake', 'peanut butter', 'orange juice', 'Cola', 'pie'],
 ['espresso',
  'pizza',
  'popsicle',
  'orange juice',
  'Cola',
  'marshmallow',
  'pizza'],
 ['cake', 'peanut butter', 'Ice cream', 'orange juice', 'Cola', 'pie'],
 ['cake', 'pie', 'nuts', 'orange juice', 'marshmallow', 'pizza'],
 ['espresso',
  'pizza',
  'popsicle',
  'orange juice',
  'Cola',
  'marshmallow',
  'pie'],
 ['cake', 'peanut butter', 'orange juice', 'Cola', 'pie'],
 ['nuts', 'pizza', 'pizza', 'orange juice', 'Ice cream', 'Cola', 'pie']]

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
!pip install mlxtend

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.0.0)

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [ ]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     Cola  Ice cream   cake  espresso  ...  peanut butter    pie  pizza  popsicle
0    True      False   True     False  ...          False   True   True      True
1    True       True   True     False  ...           True  False  False     False
2   False      False   True     False  ...          False   True   True     False
3    True      False  False      True  ...          False  False   True      True
4    True      False   True     False  ...           True   True  False     False
5    True      False  False      True  ...          False  False   True      True
6    True       True   True     False  ...           True   True  False     False
7   False      False   True     False  ...          False   True   True     False
8    True      False  False      True  ...          False   True   True      True
9    True      False   True     False  ...           True   True  False     False
10   True       True  False     False  ...          False   True   True     False

[11 rows x 11 columns]

In [ ]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support               itemsets
0  0.818182                 (Cola)
1  0.636364                 (cake)
2  1.000000         (orange juice)
3  0.727273                  (pie)
4  0.636364                (pizza)
5  0.818182   (Cola, orange juice)
6  0.636364   (cake, orange juice)
7  0.727273    (pie, orange juice)
8  0.636364  (orange juice, pizza)

#**Association Rule Mining**

In [ ]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.7)
res

      antecedents     consequents  ...  leverage  conviction
0          (Cola)  (orange juice)  ...       0.0         inf
1  (orange juice)          (Cola)  ...       0.0         1.0
2          (cake)  (orange juice)  ...       0.0         inf
3           (pie)  (orange juice)  ...       0.0         inf
4  (orange juice)           (pie)  ...       0.0         1.0
5         (pizza)  (orange juice)  ...       0.0         inf

[6 rows x 9 columns]

In [ ]:
res1 = res[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
res1

      antecedents     consequents   support  confidence  lift
0          (Cola)  (orange juice)  0.818182    1.000000   1.0
1  (orange juice)          (Cola)  0.818182    0.818182   1.0
2          (cake)  (orange juice)  0.636364    1.000000   1.0
3           (pie)  (orange juice)  0.727273    1.000000   1.0
4  (orange juice)           (pie)  0.727273    0.727273   1.0
5         (pizza)  (orange juice)  0.636364    1.000000   1.0

In [ ]:
res2 = res1[res1['confidence']>=1]
res2

  antecedents     consequents   support  confidence  lift
0      (Cola)  (orange juice)  0.818182         1.0   1.0
2      (cake)  (orange juice)  0.636364         1.0   1.0
3       (pie)  (orange juice)  0.727273         1.0   1.0
5     (pizza)  (orange juice)  0.636364         1.0   1.0